:root
{
    --header-height: 4vh;
    --top-nav-height: 3vh;
    --footer-height: 3vh;

    --top-nav-background-color: rgb(45, 45, 45);
}

body
{
    margin: 0px;
    padding: 0px;
    border: 0px;

    font-family: ubuntu, sans-serif;
}

.full-screen-container
{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
}

.header
{
    height: var(--header-height);

    background-color: rgb(33, 33, 33);
    color: white;
    /* font-size: idk;  */

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 5px 10px;
    box-sizing: border-box;
}


.filename
{
    text-align: center;
    flex-grow: 1;

    font-size: 14px;
    font-weight: 600;
}

.top-buttons
{
    display: flex;
    gap: 10px;
}

.top-buttons button
{
    width: 20px;
    height: 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 20px;

    border-radius: 10px;
    color: white;
    background-color: rgb(40, 40, 40);
}

.top-buttons button:hover
{
    background-color: rgb(54, 54, 54);
}

.main-content
{
    /* height: calc(100vh - var(--header-height) - var(--footer-height)); */
    flex-grow: 1;

    background-color: black;
}

.top-nav
{
    background-color: var(--top-nav-background-color);
    display: flex;

    height: var(--top-nav-height);
}

.top-nav-button
{
    color: white;
    border: none;
    background-color: var(--top-nav-background-color);
    /* padding: 0; */
    margin: 0;
    font-family: ubuntu, sans-serif;
}

.editor-container
{
    display: flex;
    flex-direction: column;
}

.footer
{
    height: var(--footer-height);
    
    background-color: rgb(48, 48, 48);
}